body {
  background-color: black;
  color: white;
  font-family: sans-serif, Arial, Helvetica;
}

.table-cell {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.table-cell p {
  font-size: 150px;
  margin: 40px 0 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.table-board {
  width: 600px;
  margin: auto;
}

.table-row {
  display: flex;
}

.border-right {
  border-right: 3px solid white;
}

.border-left {
  border-left: 3px solid white;
}

.border-sides {
  border-right: 3px solid white;
  border-left: 3px solid white;
}

.border-top {
  border-top: 3px solid white;
}

.border-bot {
  border-bottom: 3px solid white;
}

.border-both {
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}

.cover-board {
  position: absolute;
  width: 100%;
  height: 600px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
}

.block {
  display: block;
}

.none {
  display: none;
}

.cover-board h2 {
  background-color: black;
  width: fit-content;
}

.last-btn {
  cursor: pointer;
  margin-top: 30px;
}
